 <ul class="nav nav-tabs">
      <li role="presentation"><%= link_to '首頁', restaurants_path %></li>
      <li role="presentation"><%= link_to 'Feeds', feeds_restaurants_path %></li>
      <li role="presentation"><%= link_to '美食達人', users_path %></li>
  
  </ul>