<div class="container">
 
  <h1>餐廳前台</h1>

  <div class="row">

   <%= render partial: "shared/nav_bar" %>

  <ul class="nav nav-pills">
     <li role="presentation" class="active"><%= link_to "全部餐廳", root_path %></li>
      <% @categories.each do |category| %>
        <li role="presentation"><%= link_to category.name, category_path(category) %></li>
      <% end %>

  </ul>

<br>


<%= render partial: "shared/restaurant_list" %>


</div>
